/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    overflow: hidden;
    margin: 0;
    font-family: "Lato", sans-serif
  }
  .msg-form {
    width: 100%;
    height: 56px;
    padding: 10px;
  }
  
  #single_room {
    height: calc(100vh - 150px);
  }
  
  #messages {
    height: calc(100vh - 150px);
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  #room_container {
    height: 100vh;
    margin-right: 0px !important;
    margin-left: 16px !important;
  }
  
  #side_panel {
    height: 100vh;
    margin-right: 0px !important; 
    background-color: #f1f1f1;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 55px;
    margin-left: 16px !important;
  }
  #chatroom_container {
    height: 100vh;
    margin-right: 0px !important;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #container {
    height: 100vh;
    margin-right: 0px !important;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .msg-content {
    width: 80%;
    margin-right: 5px;
    margin-left: 20px;
  }
  .message-box {
    word-wrap: break-word;
    width: fit-content;
    max-width: 40%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #555555;
    padding: 10px;
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: 220px;
    background-color: #f1f1f1;
    position: fixed;
    height  : 100%;
    overflow: auto;
    text-align: center;
    padding: 10px !important;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  /* Add your CSS for dropdown menus styling here */

/* Remove the following CSS rules as they are not needed */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
